.article:hover {
  transform: translateY(-0.15rem) scale(1.04);
}

.shadow {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  margin: 0.3rem;
}

/* .shadow:hover {
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.3);
} */
.marginSearchBar {
  margin: 1rem;
  padding: 1rem;
}

.box-shadow {
  box-shadow: 10px -20px;
}

.border {
  padding: 2rem;
}

.btn-hover:hover,
.btn:hover .btn-outline-primary:hover {
  background-color: #6f42c1 !important;
}

.articlesList {
  background-color: #f2f2f2;
}
/* On scroll */

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
  animation-duration: 1s;
  animation-name: fade-bottom;
}
.active.fade-bottom {
  animation: fade-bottom 3s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

