.main-footer {
  color: white;
  background-color: #0d6efd;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-custom {
  background-color: #6f42c1 !important;
  bottom: "0";
  position: "fixed";
  left: "0";
  bottom: "0";
}
